<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>

  <div class="slideshow">
    <img src="/assets/book1.jpg" alt="" width="1600" height="465">
    <img src="/assets/book2.jpg" alt="" width="1600" height="465">
    <img src="/assets/book3.jpg" alt="" width="1600" height="465">
    <script src="/assets/jquery-3.7.1.min.js"></script>
    <script src="/assets/slideshow.js"></script>
  </div>
</div>